<head>
	<meta charset="utf-8">
	<title>Appli médiathèque de St-Perdon</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/jquery-ui.css">
	<link rel="stylesheet" href="css/style.css">
</head>