<head>
	<meta charset="utf-8">
	<title>Appli médiathèque de St-Perdon</title>
	<link rel="stylesheet" href="css/bootstrap_3.3.7.css">
	<link rel="stylesheet" href="css/jquery-ui_1.12.1.css">
	<link rel="stylesheet" href="css/style.css">

    <script src="js/jquery_3.2.1.js"></script>
    <script src="js/jquery-ui_1.12.1.js"></script>
    <script src="js/bootstrap_3.3.7.js"></script>

</head>