<head>
	<meta charset="utf-8">
	<title>Appli médiathèque de St-Perdon</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/jquery-ui.css">
	<link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="pivottable/pivot.css">

    <script src="js/jquery.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/papaparse.js"></script>
    <script src="pivottable/pivot.js"></script>

</head>