<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Fréquentation</a></li>
		<li><a href="#tabs-2">Emprunt / Retour</a></li>
	</ul>
	<form id="formFreq" method="post" action="/createFreq">
		<div id="tabs-1">

			<div class="formulaire_frequentation">
				<fieldset>
					<legend>Date</legend>
					<div class="date">
						<div class="jour form-group">
							<label for="jour">Jour de la semaine :</label><br>
							<select name="jour" id="jour">
								<option value="lundi">Lundi</option>
								<option value="mardi">Mardi</option>
								<option value="mercredi">Mercredi</option>
								<option value="jeudi">Jeudi</option>
								<option value="vendredi">Vendredi</option>
								<option value="samedi">Samedi</option>
							</select>
						</div>
						<div class="form-group">
							<label for="date">Date : </label><br>
							<input type="text" id="datepicker" name="date">
						</div>
						<div class="heure form-group">
							<label for="hours">Heure : </label><br>
							<input type="text" id="setTime" name="hours" autocomplete="off" placeholder="ex : 09:30:00">
							<input type="button" id="setTimeButton" value="Heure actuelle"></input>
						</div>
						<div class="periode form-group">
							<label for="vacances">Vacances :</label>
							<input type="checkbox" name="vacances" id="vacances">
						</div>
						<div class="consultation form-group">
							<label for="consult_place">Consultation sur place :</label>
							<input type="checkbox" name="consult_place" id="consult_place">
						</div>
						<div class="visiteur form-group">
							<label for="vne">Visiteur non emprunteur :</label>
							<input type="checkbox" name="vne" id="vne">
						</div>
                        <div class="visiteur form-group">
                            <label for="vna">Visiteur non adhérent :</label>
                            <input type="checkbox" name="vna" id="vna">
                        </div>
					</div>
				</fieldset>

				<fieldset>
					<legend>Lecteur</legend>
                    <h5>cliquer dans le champ pour afficher la liste</h5>
                    <div>
                        <div id="liste_lecteurs" class="dropdown">
                            <input type="text" id="lecteurtxt" class="dropdown-toggle form-control" data-toggle="dropdown">
                            <input type="hidden"  id="lecteur" name="lecteur" value="">
                            <ul compotype="comboBoxEditable" id="liste-lecteurs" class="dropdown-menu" style="height: 173px;width: 250%;overflow-y: scroll">
                                {{#each lecteurs}}
                                    <li class="li_lecteur" value="{{this.id}}"><a href="#">{{this.Noms}} {{this.Prenoms}}</a></li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
				</fieldset>
			</div>
			<br>

			<button type="submit" class="btn btn-primary" id="submit_btn">Valider</button>

		</div>

		<div id="tabs-2">
			<fieldset>
				<legend>Type d'action</legend>

				<div class="emprunt_retour">
					<div class="emprunt">
						<input type="radio" name="emprunt_retour" id="emprunt" value="emprunt">
						<label for="emprunt">Emprunt</label>
					</div>
					<div class="retour">
						<input type="radio" name="emprunt_retour" id="retour" value="retour">
						<label for="retour">Retour</label>
					</div>
				</div>

			</fieldset>

			<br>
			<fieldset>

				<legend>Informations documents</legend>

				<div class="container_form_docs">

					<fieldset>

						<legend>Document 1</legend>

						<div class="form_emprunt_retour">
							<div class="nombre_emprunt_retour form-group">
								<label for="nombre1">Nombre</label><br>
								<input type="Number" id="nombre1" size="10" name="nombre1">
							</div>
							<div class="type_doc form-group">
								<select name="type1" id="type1">
									<option value="" selected="">Type</option>
									<option value="roman">Roman</option>
									<option value="roman_policier">Roman Policier</option>
									<option value="roman_sf">Roman SF</option>
									<option value="roman_local">Roman Local</option>
									<option value="bd">BD</option>
									<option value="documentaire">Documentaire</option>
									<option value="album">Album</option>
									<option value="dvd">DVD</option>
								</select>
							</div>
							<div class="categorie form-group">
								<select name="categorie1" id="categorie1">
									<option value="" selected="">Catégorie</option>
                                    <option value="enfant">Enfant</option>
									<option value="ado">Ado</option>
									<option value="adulte">Adulte</option>
								</select>
							</div>
							<div class="mdl form-group">
								<label for="mdl_checkbox1">Document MDL : </label>
								<input type="checkbox" name="mdl_checkbox1" id="mdl_checkbox1">
							</div>

						</div>

					</fieldset>
					<fieldset>
						
						<legend>Document 2</legend>

						<div class="form_emprunt_retour">
							<div class="nombre_emprunt_retour form-group">
								<label for="nombre2">Nombre</label><br>
								<input type="Number" id="nombre2" size="10" name="nombre2">
							</div>
							<div class="type_doc form-group">
								<select name="type2" id="type2">
									<option value="" selected="">Type</option>
									<option value="roman">Roman</option>
									<option value="roman_policier">Roman Policier</option>
									<option value="roman_sf">Roman SF</option>
									<option value="roman_local">Roman Local</option>
									<option value="bd">BD</option>
									<option value="documentaire">Documentaire</option>
									<option value="album">Album</option>
									<option value="dvd">DVD</option>
								</select>
							</div>
							<div class="categorie form-group">
								<select name="categorie2" id="categorie2">
									<option value="" selected="">Catégorie</option>
                                    <option value="enfant">Enfant</option>
									<option value="ado">Ado</option>
									<option value="adulte">Adulte</option>
								</select>
							</div>
							<div class="mdl form-group">
								<label for="mdl_checkbox2">Document MDL : </label>
								<input type="checkbox" name="mdl_checkbox2" id="mdl_checkbox2">
							</div>
						</div>

					</fieldset>
					<fieldset>
						
						<legend>Document 3</legend>

						<div class="form_emprunt_retour">
							<div class="nombre_emprunt_retour form-group">
								<label for="nombre3">Nombre</label><br>
								<input type="Number" id="nombre3" size="10" name="nombre3">
							</div>
							<div class="type_doc form-group">
								<select name="type3" id="type3">
									<option value="" selected="">Type</option>
									<option value="roman">Roman</option>
									<option value="roman_policier">Roman Policier</option>
									<option value="roman_sf">Roman SF</option>
									<option value="roman_local">Roman Local</option>
									<option value="bd">BD</option>
									<option value="documentaire">Documentaire</option>
									<option value="album">Album</option>
									<option value="dvd">DVD</option>
								</select>
							</div>
							<div class="categorie form-group">
								<select name="categorie3" id="categorie3">
									<option value="" selected="">Catégorie</option>
                                    <option value="enfant">Enfant</option>
									<option value="ado">Ado</option>
									<option value="adulte">Adulte</option>
								</select>
							</div>
							<div class="mdl form-group">
								<label for="mdl_checkbox3">Document MDL : </label>
								<input type="checkbox" name="mdl_checkbox3" id="mdl_checkbox3">
							</div>
						</div>

					</fieldset>
					<fieldset>

						<legend>Document 4</legend>

						<div class="form_emprunt_retour">
							<div class="nombre_emprunt_retour form-group">
								<label for="nombre4">Nombre</label><br>
								<input type="Number" id="nombre4" size="10" name="nombre4">
							</div>
							<div class="type_doc form-group">
								<select name="type4" id="type4">
									<option value="" selected="">Type</option>
									<option value="roman">Roman</option>
									<option value="roman_policier">Roman Policier</option>
									<option value="roman_sf">Roman SF</option>
									<option value="roman_local">Roman Local</option>
									<option value="bd">BD</option>
									<option value="documentaire">Documentaire</option>
									<option value="album">Album</option>
									<option value="dvd">DVD</option>
								</select>
							</div>
							<div class="categorie form-group">
								<select name="categorie4" id="categorie4">
									<option value="" selected="">Catégorie</option>
                                    <option value="enfant">Enfant</option>
									<option value="ado">Ado</option>
									<option value="adulte">Adulte</option>
								</select>
							</div>
							<div class="mdl form-group">
								<label for="mdl_checkbox4">Document MDL : </label>
								<input type="checkbox" name="mdl_checkbox4" id="mdl_checkbox4">
							</div>
						</div>

					</fieldset>
					<fieldset>

						<legend>Document 5</legend>

						<div class="form_emprunt_retour">
							<div class="nombre_emprunt_retour form-group">
								<label for="nombre5">Nombre</label><br>
								<input type="Number" id="nombre5" size="10" name="nombre5">
							</div>
							<div class="type_doc form-group">
								<select name="type5" id="type5">
									<option value="" selected="">Type</option>
									<option value="roman">Roman</option>
									<option value="roman_policier">Roman Policier</option>
									<option value="roman_sf">Roman SF</option>
									<option value="roman_local">Roman Local</option>
									<option value="bd">BD</option>
									<option value="documentaire">Documentaire</option>
									<option value="album">Album</option>
									<option value="dvd">DVD</option>
								</select>
							</div>
							<div class="categorie form-group">
								<select name="categorie5" id="categorie5">
									<option value="" selected="">Catégorie</option>
									<option value="enfant">Enfant</option>
									<option value="ado">Ado</option>
									<option value="adulte">Adulte</option>
								</select>
							</div>
							<div class="mdl form-group">
								<label for="mdl_checkbox5">Document MDL : </label>
								<input type="checkbox" name="mdl_checkbox5" id="mdl_checkbox5">
							</div>
						</div>

					</fieldset>
					<fieldset>

						<legend>Document 6</legend>

						<div class="form_emprunt_retour">
							<div class="nombre_emprunt_retour form-group">
								<label for="nombre6">Nombre</label><br>
								<input type="Number" id="nombre6" size="10" name="nombre6">
							</div>
							<div class="type_doc form-group">
								<select name="type6" id="type6">
									<option value="" selected="">Type</option>
									<option value="roman">Roman</option>
									<option value="roman_policier">Roman Policier</option>
									<option value="roman_sf">Roman SF</option>
									<option value="roman_local">Roman Local</option>
									<option value="bd">BD</option>
									<option value="documentaire">Documentaire</option>
									<option value="album">Album</option>
									<option value="dvd">DVD</option>
								</select>
							</div>
							<div class="categorie form-group">
								<select name="categorie6" id="categorie6">
									<option value="" selected="">Catégorie</option>
									<option value="enfant">Enfant</option>
									<option value="ado">Ado</option>
									<option value="adulte">Adulte</option>
								</select>
							</div>
							<div class="mdl form-group">
								<label for="mdl_checkbox6">Document MDL : </label>
								<input type="checkbox" name="mdl_checkbox6" id="mdl_checkbox6">
							</div>
						</div>

					</fieldset>

				</div>

				<br><br>

				<div class="presence_lecteur form-group">
					<label for="presence">Lecteur absent : </label>
					<input type="checkbox" name="presence" id="presence">
				</div>

			</fieldset><br>

			<button type="submit" class="btn btn-primary" id="submit_btn">Valider</button>

		</div>

	</form>

</div>

<script>
	$(document).ready(function() {
		$( "#tabs" ).tabs();
	} );
	$( function() {
		$("#datepicker").datepicker(); // Choose the date format to jquery-ui.js at line 9659
	});
	$( function() {
		$('#setTimeButton').on('click', function() {
			$('#setTime').val(new Date().toLocaleTimeString("fr-FR"));
		});
	});
</script>

<script>
    $(document).ready(function() {
        /*$(document).on('click', function (evt) {
            if (evt.target.parentElement.parentElement.attributes[0].value.indexOf('comboBoxEditable') > -1) { // si le click a lieu sur une liste dropdown
                var ul = evt.target.parentElement.parentElement; //on récupère l'objet ul
                $('#' + ul.previousElementSibling.id).val(evt.target.childNodes["0"].parentNode.parentNode.attributes["0"].nodeValue);
                $('#' + ul.previousElementSibling.previousElementSibling.id).val(evt.target.childNodes["0"].data);
            }
        });*/

        $('.li_lecteur').on('click', function(evt) {
        	$('#lecteurtxt').val(evt.target.text);
        	$('#lecteur').val(evt.target.parentNode.value);
        });

        ///////////// search / filter /////////////
        $(document).keyup(function (evt) {
            //console.log('evt keyup : ', evt.target);
            var filter = $('#' + evt.target.id).val().toLowerCase();
            var ul = evt.target.nextElementSibling.nextElementSibling; // positionneemnt sur ul
            var li = ul.getElementsByTagName('li');
            for (var i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                if (a.innerHTML.toLowerCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        });

        // Popup de confirmation d'enregistrement des données avec verification emprunt retour
        $('#formFreq').submit(function (evt) {
        	evt.preventDefault();
            if ($('#categorie1').val() !== ""  && (!$('#emprunt').is(':checked') && !$('#retour').is(':checked'))) {
                alert("emprunt ou retour ??? :)");
            }else{
                $.post('/createFreq', {data: $('#formFreq').serialize()}, function (data) {
                    alert(data.message);
                    $('#formFreq')[0].reset();
                });
            }
        });

        //permet de recuperer un visiteur non adherent dans la base
        $('#vna').on('click', function (evt) {
            if ($('#vna').is(':checked')) {
                $('#lecteurtxt').val('non adherent');
                $('#lecteur').val('0');
            }else {
                $('#lecteurtxt').val('');
                $('#lecteur').val('');
            }
        });
    });
</script>