<header>
	<h2>{{title}}</h2>
</header>
<div class="container-fluid">
	<div class="download">
		<fieldset>
			<legend>Télécharger un fichier</legend>

			<form action="/upload" method="post" enctype="multipart/form-data">
				<input type="file" name="file"><br>
				<input type="submit" class="" value="Upload" tabindex="1">
			</form>

		</fieldset>
		<fieldset>
			<legend>Envoyer les fichiers dans la base de données</legend>

			<form action="/sendFile" method="post">
				<input type="submit" value="Mettre à jours la base de données">
			</form>

		</fieldset>
	</div>
	
</div>
