<h1>{{title}}</h1>

<div class="" id="output"></div>

<script>

    $(function(){
        Papa.parse("../csv/test.csv", {
            download: true,
            skipEmptyLines: true,
            complete: function(parsed){
                $("#output").pivotUI(parsed.data, {
                });
            }
        });
    });

</script>

