#submit_btn {
	margin-left: 50%;
	width: 100px;
	height: 50px;
	box-shadow: 5px 5px 7px black;
	font-size: 1.5em;
}

.lecteur, .presence_lecteur, .form_emprunt_retour, .index_title, .commentaire {
	text-align: center;
}

.emprunt_retour, .container_form_docs, .formulaire_frequentation, .div_checkbox, .download {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

input[type=Number] {
	width: 70px;
}

.hide{
	display: none;
}

.visiteur_non_adherent {
	margin-top: 120px;
}


input {
	border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
	border:1px solid #ccc;
	font-size:14pt;
	padding:5px 10px;
}
input[type=button] {
	background: -moz-linear-gradient(#ffffff, #dfdfdf);
	background: -ms-linear-gradient(#ffffff, #dfdfdf);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #dfdfdf));
	background: -webkit-linear-gradient(#ffffff, #dfdfdf);
	background: -o-linear-gradient(#ffffff, #dfdfdf);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dfdfdf');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dfdfdf')";
	background: linear-gradient(#ffffff, #dfdfdf);
}
