#submit_btn {
	margin-left: 50%;
}

.lecteur, .presence_lecteur, .form_emprunt_retour, .index_title {
	text-align: center;
}

.emprunt_retour, .container_form_docs, .formulaire_frequentation {
	display: flex;
	justify-content: space-around;
}

input[type=Number] {
	width: 50px;
}

